body{
    background-color: #5252F6;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-family: 'Playfair Display', Times, serif;
    font-size: 100px;
    color: white;
}

a:hover{
    color: tomato;
}
